body {
    background-image: url(./images/mainRoom.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

.upstairsButton{
    background-size: contain;
    margin-top: 425px;
    margin-left: 425px;
}

.darkHallwayButton{
    background-size: contain;
    margin-top: 0px;
    margin-left: 953px;
}

